.Login {
  text-align: center;
}

.formcontainer{
	max-width: 600px;
	margin: 0 auto;
	padding: 80px 0;
	height: 400px;
	text-align: center;
  }
	
h1{
  font-size: 40px;
  transition-duration: 1s;
  transition-timing-function: ease-in-put;
  font-weight: 200;
	}

  form{
    padding: 20px 0;
    position: relative;
    z-index: 2;
  }  
  input{
      display: block;
      appearance: none;
      outline: 0;
      border: 1px solid fade(white, 40%);
      background-color: fade(white, 20%);
      width: 250px;
      
      border-radius: 3px;
      padding: 10px 15px;
      margin: 0 auto 10px auto;
      display: block;
      text-align: center;
      font-size: 18px;
      
      color: black;
      
      transition-duration: 0.25s;
      font-weight: 300;
  }
      input:hover{
        background-color: fade(white, 40%);
      }
      
      input:focus{
        background-color: white;
        width: 300px;
        
        color: black;
      }
    
button{
  appearance: none;
  outline: 0;
  background-color: rgb(3, 211, 248);
  border: 0;
  padding: 10px 15px;
  color: black;
  border-radius: 3px;
  width: 250px;
  cursor: pointer;
  font-size: 18px;
  transition-duration: 0.25s;
}      
button:hover{
  background-color: rgb(124, 255, 130);
}
